:root {
    --app-max-width: 400px;
}
.App {
    text-align: center;
    max-width: var(--app-max-width);
    margin: 16px auto;

    .search-bar {
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;

        label {
            display: flex;
            gap: 8px;
            margin-top: 4px;
        }
    }

    table,
    th,
    td {
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
    }

    .in-stock,
    .out-of-stock {
        text-align: left;
    }

    .out-of-stock {
        color: red;
    }
}
